@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


canvas {
    display: block;
    margin: 0 auto;
    background: #eee;
}

body {
    font-family: Poppins, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color: hsl(223, 100%, 64%);
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: .5em;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 30%);
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0% 80%);
    margin-bottom: 15px;
    border-radius: 4px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: hsl(0, 100%, 60%);
    font-size: 1.2em;
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: hsl(0, 100%, 50%);
    transition: all 0.3s ease-in-out;
}

#result {
    font-size: 1.7em;
}

    /* Hide the spinners for Chrome, Safari, and Edge */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Hide the spinners for Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }