@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap');
@font-face {
  font-family: 'Viking';
  src: url('../Fonts/Viking-Medium.eot');
  src: url('../Fonts/Viking-Medium.eot?#iefix') format('embedded-opentype'),
      url('../Fonts/Viking-Medium.woff2') format('woff2'),
      url('../Fonts/Viking-Medium.woff') format('woff'),
      url('../Fonts/Viking-Medium.ttf') format('truetype'),
      url('../Fonts/Viking-Medium.svg#Viking-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
:root {
  --right-ali: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 44%, rgba(0,0,0,0.7) 58%, rgba(0,0,0,0.4) 72%, rgba(0,0,0,0) 100%);
  --left-ali: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 28%, rgba(0,0,0,0.7) 42%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);

  --arrrow-line: polygon(20% 0%, 80% 0%, 100% 50%, 100% 50%, 80% 100%, 20% 100%, 0 50%, 0 50%);

  --white-line: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
  --black-line: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);

  --content-gradient: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 2%, rgba(0,0,0,0.7) 98%, rgba(0,0,0,0.1) 100%);

  --black-line-bar: linear-gradient(90deg, rgba(17,17,17,0.1) 0%, rgba(17,17,17,.7) 10%, rgba(17,17,17,0.7) 90%, rgba(17,17,17,0.1) 100%);

 --color1-clr:#000000;
 --color2-clr:#f4dfc8;
 --color3-clr: #f4eae0;
 --color4-clr: #faf6f0;

  --unmarked-clr: #e6e6e6;
  --nathair-clr: #5f8dd3;
  --azores-clr: #ff8080;
  --wind-color: #afdde9;
  --earth-clr: #8dd35f;
  --water-clr: #87aade;
  --bear-clr: #aaccff;

  /* colors */
  --body-bg: #fafafa;
  --page-bg: #f5f5f5;
  --dark-text: #2a2935;
 /* spacing */
 /* this is what defines the global scale */
  --baseline: 15px;
 /* fonts */
  --book-title: 'Viking', sans-serif;
  --title: 'Cormorant Garamond', serif;
  --body: 'Cormorant Garamond', serif;
  --base-size: var(--baseline) * 1.2;
}


/*This sets up the heading for the website which contains the logo on the left and the navigation items on the right. The postion of the logo and the navigation bar is set in the header container through flex.*/

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 15px 200px;
  backdrop-filter: blur(5px);
  background-image: none;
  transition: all 0.3s ease;
}

header.intersect{
  /* background-image: linear-gradient(to bottom, rgb(17, 17, 17) 0%, rgba(0,0,0,0) 100%); */
  background: rgba(17,17,17,0.7);
 }
.intersect .navigation-items a {
  color: white;
}
.intersect .logo {
  color: white;
}
.intersect .navigation-items a:before {
  background: var(--white-line);
}
.intersect .navigation-items .active:before {
  background: var(--white-line);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
/*CSS for the logo located on the left and the navigation menu on the right.*/
header .logo {
  color: black;
  font-family: 'Viking';
  font-size: 1.5em;
  /* font-weight: 900; */
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.hamburger {
  display: none;
}

/*This sets the individual styles for the items in the navigation bar.*/
.navigation-items a {
  position: relative;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 30px;
  font-family: montserrat;
  
  letter-spacing: 2px;

  transition: all 0.3s ease-in-out;
}
/*This adds an underline to the items.*/
.navigation-items a:before {
  content: '';
  position: absolute;
  background: var(--black-line);
  clip-path: var(--arrrow-line);
  width: 0;
  height: 3px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
/*This animates the underline so that it grows from the left*/
.navigation-items a:hover:before {
  width: 100%;
}
/*This keeps the underline present for the current page*/
.navigation .navigation-items .active:before {
  width: 100%;
}
/* .navigation .navigation-items .active {
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
} */

/*Defines what the sections will look like on the website.*/
section {
  padding: 100px 200px;
}






/*----------------------------------------------------CSS for Home.------------------------------------------*/
/*Defines the design of the sections used on the home page.*/
.home__section {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
/* CSS for the background strip on the home page */
.home__background-strip {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home__background-strip::after, .home__background-strip::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 300px;
  border-style: solid;
  z-index: 1;
  animation: widthIn 0.4s ease-in-out;
}
.home__background-strip::after {
  border-color: black;
  top: -20px;
  left: 0;
  border-width: 1px 0px 0px;
}
.home__background-strip::before{
  border-color: black;
  bottom: -20px;
  right: 0;
  border-width: 0px 0px 1px 0px;
}
.home-strip::before, .home-strip::after {
  display: none;
}
.home__section .media-icons {
  display: none;
}

/* Content box and mask alignment */



/* might be able to remove this section and move it somewhere else */



.right-align {
  align-items: flex-end;
}
.left-align {
  align-items: flex-start;
}
.left-align > .back-image {
  -webkit-mask-image: var(--left-ali);
  mask-image: var(--left-ali);
}
.right-align > .back-image {
  -webkit-mask-image: var(--right-ali);
  mask-image: var(--right-ali);
}
/* might be able to remove this section and move it somewhere else */



/* Home Image */
.back-image-home {
  background-image: radial-gradient(transparent 50%, rgba(0,0,0,0.7)), url(../images/valley_monolith_by_tacticsogre_d8kisxo.jpg);
  filter: grayscale(100%);
  transition: filter 0.8s ease;
}
.scroll-transition > .back-image-home {
  filter: grayscale(0);
}
/* Summary Image */
.bsummary {
  background-image: radial-gradient(transparent 50%, rgba(0,0,0,0.7)), url(../images/mountain___process_by_jordangrimmer_dbr2i4l-fullview.jpg);
  filter: grayscale(100%);
  transition: filter 0.8s ease;
}
.scroll-transition > .bsummary {
  filter: grayscale(0);
}
/* Section navigation graphic resting in summary section */
.section-navigation {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-line-bar);
  font-family: poppins;
  padding-inline: 225px;
  height: 30px;
  top: 75px;
  left: 0;
  z-index: 5;
  color: white;
  backdrop-filter: blur(10px);
  overflow: visible;
}
.section-navigation a {
  display: flex;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}
.section-navigation div a:hover:not(.active) {
  transform: scale(1.2);
}
.section-navigation a.active {
  transform: scale(1.2);
  filter: drop-shadow(3px 0px 10px #fff)
  drop-shadow(3px 0px 10px #fff); 
}
.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
.ball1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}
/* Setting Image */
.bsetting {
  background-image: radial-gradient(transparent 50%, rgba(0,0,0,0.7)), url(../images/environment/1307018.jpg);
  filter: grayscale(100%);
  transition: filter 0.8s ease;
}
.scroll-transition > .bsetting {
  filter: grayscale(0);
}
/* Culture Image */
.bculture {
  background-image: radial-gradient(transparent 50%, rgba(0,0,0,0.7)), url(../images/colors_speedpaint_by_tacticsogre_d7j4zuy-fullview.jpg);
  filter: grayscale(100%);
  transition: filter 0.8s ease;
}
.scroll-transition > .bculture {
  filter: grayscale(0);
}
/* Spirits Image */
.bspirits {
  background-image: radial-gradient(transparent 50%, rgba(0,0,0,0.7)), url(../images/landscape_digital_painting_tutorial_by_jordangrimmer_de4y7cu-pre.jpg);
  filter: grayscale(100%);
  transition: filter 0.8s ease;
}
.scroll-transition > .bspirits {
  filter: grayscale(0);
}

/* CSS for the opening page */
.home__content {
  z-index: 888;
  color: #fff;
  width: 70%;
  display: flex;
  font-family: cinzel;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Sets the text lettering for words "the world of Leviathan */
.home__content h1 {
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 75px;
  margin-bottom: 0px;
  text-align: center;
}
.home__content h2 {
  margin-bottom: 20px;
  font-size: 1.7em;
  color: #fff;
}
/* Sets the text lettering for the word Leviathan */
.home__content span {
  font-size: 9em;
  /* font-weight: 900; */
  font-family: 'Viking';
  filter: drop-shadow(3px 0px 10px #fff);
  animation: pulses 3s ease-in-out infinite;
}
/*Creates the button for READ MORE and allows the button to grow when hovering it.*/
.home__content a {
  background: #fff;
  padding: 10px 25px;
  color: black;
  font-size: 1.1em;
  font-weight: 600;
  font-family: poppins;
  letter-spacing: .4rem;
  text-decoration: none;
  border-radius: 2rem;
  position: relative;
  margin-top: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.home__content a:hover {
  transform: scale(1.1);
}
/* CSS for Quotes */
.story-quote {
  position: relative;
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(60deg, var(--color2-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  padding: 20px 350px;
  font-family: poppins;
  font-size: 20px;
}
.story-quote::before, .story-quote::after {
  position: absolute;
  height: 100%;
  font-size: 200px;
  font-family: 'Viking';
  opacity: 65%;
}
.story-quote::before {
  content: '“';
  top: -25px;
  left: 200px;
}
.story-quote::after {
  content: '”';
  bottom: -25px;
  right: 200px;
}

/* CSS for the design accents that go around content and formatting for content. */
.hold-content {
  display: flex;
  flex-direction: column;
}
.left-align .hold-content {
  align-items: flex-start;
}
.right-align .hold-content {
  align-items: flex-end;
}
.content-h1 {
  position: relative;
  font-family: cinzel;
  font-size: 35px;
  letter-spacing: 5px;
  color:#fff;
  top: -28px;
  transform: translateX(100px);
  opacity: 0;
  z-index: 0;
  transition: transform 0.5s ease,
  opacity 0.3s ease;
}
.right-align .content-h1 {
  transform: translateX(-100px);
}
.scroll-transition .content-h1 {
  transform: translateX(0px);
  opacity: 1;
}

.content-h2 {
  position: relative;
  font-family: cinzel;
  font-size: 15px;
  color: black;
  top: -32px;
  transform: translateX(200px);
  opacity: 0;
  z-index: 0;
  transition: transform 0.6s ease,
  opacity 0.3s ease;
}
.left-align .content-h2 {
  transform: translateX(-200px);
}
.scroll-transition .content-h2 {
  transform: translateX(0px);
  opacity: 1;
}

.home__section p:not(:last-child) {
  margin-bottom: 20px;
}
.home__section .content {
  margin-top: 50px;
  position: relative;
  max-height: 590px;
  /* max-height: 38vh; */
  width: 650px;
  min-width: 200px;
  background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 2%, rgba(0,0,0,0.7) 98%, rgba(0,0,0,0.1) 100%);
  padding: 30px;
  font-family: poppins;
  font-size: calc(1.48vh + 0.0977rem);
  color: #fff;
  top: -38px;
  opacity: 0;
  transition: opacity 0.9s ease;
}
.scroll-transition .content {
  opacity: 1;
}
.home__section .design-accent, .design-accent {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translate(-50%, -100%);
}
.home__section .top, .top {
  top: -5px;
  left: 50%;
}
.home__section .bot, .bot {
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 75%;
}
.case {
  position: relative;
  width: 15%;
  display: flex;
  justify-content: center;
}
.top .case img {
  width: 80px;
}
.bot .case img {
  width: 50px;
}
.line {
  transform: translateY(-50%);
  width: 40%;
  border-top: 2px solid;
  border-image: var(--black-line)1;
  clip-path: var(--arrrow-line);
}





/*-----------------------------------------------------CSS for media icons------------------------------------------------------*/
/*all of the stuff about media icons had .home before it but I decided to have a different background for each page and to make CSS easier lowered the specificity of the CSS*/
.media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: none;
  flex-direction: column;
}
.media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: transform 0.3s ease;
}
/*This is so that the last item on the list does not have a margin of 20px.*/
.media-icons a:not(:last-child) {
  margin-bottom: 20px;
}
/*Hovering over the items cause them to grow.*/
.media-icons a:hover {
  transform: scale(1.3);
}






/*-----------------------------------------------------------CSS for Gallery---------------------------------------------------------*/
/*The background container for the character page and modify's the section tag*/
.home-character {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom right, #2696e9 0%, #333 100%);*/
}
.character__background-strip {
  position: absolute;
  /* background-image: linear-gradient(60deg, #151a1f 0%, #30383d 100%); */
  background-image: linear-gradient(60deg, var(--color2-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  min-height: 70dvh;
  width: 100%;
  top: 50%;
  left: 0; 
  transform: translateY(-50%);
  padding-bottom: 18px;
}
.character__background-strip .top .line {
  width: 25%;
}
.character__background-strip .case {
  width: 0;
}

/* Styles the tabs for the gallery */
.gallery-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}
.gallery-tabs li {
  list-style: none;
  padding: 1px 15px;
  font-family: poppins;
  font-size: 1em;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
  margin-inline: 10px;
  margin-bottom: 10px;
  background-color: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.gallery-tabs .active {
  color: white;
  font-weight: bold;
  background-color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.gallery-tabs li:hover:not(.active) {
  color: white;
  background-color: rgb(80, 80, 80);
}

/* Styles the container that holds all of the gallery items */
.container {
  left: 0;
  position: absolute;
  height: 70vh;
  width: 100%;
  padding: 10px;
  z-index: 2;
  overflow: auto;
  top: 50%;
  transform: translateY(-50%);
}
.gallery {
  width: 76%;
  height: 100%;
  z-index: 800;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 167px;
  gap: 59px;
  margin: 0 auto;
  margin-bottom: 32px;
}

/* The individual tiles that make up the gallery */
.gallery__tile {
  cursor: pointer;
  background: none;
  border: none;
}
.gallery__tile div:first-child {
  overflow: hidden;
  border-radius: 5%;
}
.gallery__tile.show {
  animation: show .3s ease-in-out 0s 1 forwards;
  transform-origin: center;
}
.gallery__tile.hide {
  animation: hide .3s ease-in-out 0s 1 forwards;
  transform-origin: center;
}
.gallery__tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  transition: transform 0.3s ease;
}
.gallery__tile img:hover {
  transform: scale(1.2);
}
.gallery__description {
  display: flex;
  position: relative;
  justify-content: center;
  color: black;
  width: 100%;
  font-family: poppins;
  font-size: 1.2em;
}


/*-------------------------------Modals for Characters-----------------------------------*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 100;
  background-image: var(--content-gradient);
  width: 70%;
  max-width: 1050px;
  height: 0%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  color: rgb(240, 240, 240);
  transition: 200ms 400ms ease-in-out, height 200ms ease-in-out;
  font-family: poppins;
  z-index: 2050;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
  height: 70%;
  transition: 200ms ease-in-out, height 200ms 400ms ease-in-out;
}

/* Styles the items in the heading portion of the modal */
.modal-top {
  overflow: hidden;
}
.modal-header {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .title {
  font-family: Cinzel;
  font-size: 2.5rem;
  font-weight: bold;
  font-size: 4em;  
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
}
.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: 200ms ease-in-out;
}
.modal-header .close-button:hover {
  transform: scale(1.5) rotate(90deg);
}
.modal-subheading {
  position: relative;
  font-family: cinzel;
  display: flex;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
.modal span {
  font-weight: bold;
}
.modal-subheading:after {
  content: '';
  background: var(--white-line);
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* The start of the carousel buttons */
.carousel-button-left, .carousel-button-right {
  position: absolute;
  font-size: 5rem;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  border: none;
  color: white;
  transition: transform 0.1s ease-in-out;
}
.carousel-button-left:hover, .carousel-button-right:hover{
  transform: translateY(-50%) scale(1.3) ;
  cursor: pointer;
}
.carousel-button-left:active, .carousel-button-right:active{
  transform: translateY(-50%) scale(0.7) ;
}
.carousel-button-left {
  left: -1.5em;
}
.carousel-button-right {
  right: -1.5em;
}

/* Styles the main body information for the modal */
.modal-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 79%;
}
.modal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal .slide {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  inset: 0;
  font-family: poppins;
  font-size: 1.1em;
  line-height: 1.2em;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out
}
.modal .slide[data-active]{
  opacity: 1;
  z-index: 3;
  pointer-events: all;
}

/* Styling for the page one of modal body */
.modal-left {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.modal-left img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-right {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 60%;
  overflow: auto;
}
.modal-right p {
  margin-bottom: 20px;
}
.page3 img {
  margin-inline: auto;
}

/* Modal styling for the map modals */
.location-left {
  width: 60%;
}
.location-left img {
  width: 100%;
  height: 100%;
}
.location-right {
  width: 40%;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(60deg, rgba(244, 223, 200, 0.8) 0%, rgb(244, 234, 224, 0.8) 100%);;
  pointer-events: none;
  transition: 250ms 450ms ease-in-out; 
  z-index: 2000;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(25px);
  transition: 250ms ease-in-out;
}




/* Default Styling should be at the top of the css document */
/* width */
::-webkit-scrollbar {
  padding-top: 60px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #797979; 
  border-radius: 16px;
}
.gallery::-webkit-scrollbar-track {
  margin-block: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius:16px;
  border:4px solid #f1f1f1; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-color: #fff; 
}
/*Content animation*/
.home__section, .content, .media-icons, .gallery, .home-map, .char-name, .extra-info, .pin, .gallery-tabs, .spirits-container, .cover {
  animation: transitionIn 0.7s ease;
}






/*-------------------------------------------------------Beginning of CSS for the Locations Page--------------------------------------------------*/
/*the background container for the map page*/

.home-map {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-inline: 17%;
  padding-top: 50px;
  
}

.map-title {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 75px;
  font-size: 2em;
}
.reference .top .line {
  width: 25%;
}
.reference .case {
  width: 0;
}
.map-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.map-selector li {
  list-style: none;
  padding: 1px 15px;
  font-family: poppins;
  font-size: 1em;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  border-radius: 2rem;
  cursor: pointer;
  margin-inline: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.map-selector li.active {
  color: white;
  background-color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.map-selector li:hover:not(.active){
  color: white;
  background-color: rgb(80, 80, 80);
  transition: background-color 0.3s ease-in-out, 0.3s ease-in-out;
}

.reference {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #378cb1;
  
}

#svg-reference {
  position: relative;
  inset: 0;
}

svg {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#svg55 {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}
#svg55 path.nofill {
  fill: transparent;
  transition: 0.3s ease-in-out;
}
#svg55.opacity {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

img.terrain {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
}


.map-pins {
  z-index: 1;
  isolation: isolate;
  pointer-events: none;
}

.nathair-map {
  fill: var(--nathair-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.bear-map {
  fill: var(--bear-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.water-map {
  fill: var(--water-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.earth-map {
  fill: var(--earth-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.wind-map {
  fill: var(--wind-color);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.azores-map {
  fill: var(--azores-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.other-map {
  fill: var(--unmarked-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.nathair-map:hover,.water-map:hover,.earth-map:hover,.wind-map:hover,.azores-map:hover,.other-map:hover,.bear-map:hover 
{
  fill: #ffd780;
}



.pin {
  background: #4362f8;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  pointer-events: none;
}

.pin::before {
  content: '';
  background: #4362f8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
  z-index: -3;
  pointer-events: none;
}

.pin::after {
  background: black;
  border: 1px solid white;
  position: absolute;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: 0 50%;
  width: 10px;
  height: 1px;
  top: 50%;
  left: 50%;
  border-radius: 1.2em;
  z-index: -1;
  pointer-events: none;
}

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  font-family: poppins;
  background: #fff;
  border-radius: 3em;
  padding: 0.1em 0.4em;
  font-size: 0.9em;
  font-weight: 700;
  color: #1680ac;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}



/*Miokosu*/
.place1 {
  top: 78%;
  left:9%;
}
.place1 span {
  top:-250%;
  left: -360%;
}

/*Anuzan*/
.place2 {
  top: 37%;
  left: 13%;
}
.place2 span {
  top: -250%;
  left: -367%;
}

/*Nagawa*/
.place3 {
  top:19%;
  left:33%;
}
.place3 span {
  top: -250%;
  left: -414%;
}

/*Naki*/
.place4 {
  top:34%;
  left: 24%;
}
.place4 span{
  top: -250%;
  left: -210%;
}

/*Kushika*/
.place5 {
  top:32%;
  left: 36%;
}
.place5 span{
  top: -250%;
  left: -388%;
}

/*Kaida*/
.place6 {
  top:51.9%;
  left: 23.5%;
}
.place6 span{
  top: -250%;
  left: -303%;
}

/*Halivaara*/
.place7 {
  top: 65.5%;
  left: 25.6%;
}
.place7 span{
  top: -250%;
  left: -466%;
}

/*Capitol City*/
.place8{
  top: 37%;
  left: 53%;
}
.place8 span{
  top: -270%;
  left: -500%;
}

/*Plainsfield*/
.place9{
  top: 56%;
  left: 40%;
}
.place9 span{
  top: -272%;
  left: -469%;
}

/*Newwind*/
.place10 {
  top:57.5%;
  left:57%;
}
.place10 span{
  top: -250%;
  left: -401%;
}

/*Westerdale*/
.place11 {
  top:72%;
  left: 29.5%;
}
.place11 span{
  top: -683%;
  left: 394%;
}
.place11::after {
  content: '';
  width: 55px;
  transform: translateY(-50%) rotate(300deg);
}

/*Greenhollow*/
.place12 {
  top:75.5%;
  left:27.64%;
}
.place12 span{
  top: 200%;
  left: -1650%;
}
.place12::after {
  content: '';
  width: 30px;
  transform: translateY(-50%) rotate(154deg);
}

/*Ballymena*/
.place13 {
  top: 75.4%;
  left: 32%;
}
.place13 span{
  top: -585%;
  left: 175%;
}
.place13::after {
  content: '';
  width: 45px;
  transform: translateY(-50%) rotate(300deg);
}

/*Mallowbeach*/
.place14{
  top:79%;
  left:29.9%;
}
.place14 span{
  top: 290%;
  left: -1769%;
}
.place14::after {
  content: '';
  width: 37px;
  transform: translateY(-50%) rotate(154deg);
}

/*Province 15*/
.place15{
  top:84%;
  left:31.4%;
}
.place15 span{
  top: 250%;
  left: -1600%;
}
.place15::after {
  content: '';
  width: 37px;
  transform: translateY(-50%) rotate(154deg);
}

/*Belltown*/
.place16 {
  top:78%;
  left:36.5%;
}
.place16 span {
  top: -448%;
  left: 74%;
}
.place16::after {
  content: '';
  width: 30px;
  transform: translateY(-50%) rotate(300deg);
}

/*Rivershear*/
.place17{
  top: 86%;
  left: 36.5%;
}
.place17 span{
  top: 602%;
  left: -1602%;
}
.place17::after {
  content: '';
  width: 56px;
  transform: translateY(-50%) rotate(140deg);
}

/*Redwallow*/
.place18{
  top: 77.5%;
  left: 44%;
}
.place18 span{
  top: 350%;
  left: -469%;
}

/*Chemsisi*/
.place19{
  top:76%;
  left:54%;
}
.place19 span{
  top: -250%;
  left: -457%;
}

/*Mangi*/
.place20 {
  top: 80%;
  left: 65%;
}
.place20 span {
  top: -250%;
  left: -326%;
}

/*Makoso*/
.place21 {
  top: 92%;
  left: 61%;
}
.place21 span {
  top: -250%;
  left: -403%;
}

/*Province 22*/
.place22{
  top: 25%;
  left: 75%;
}
.place22 span{
  top: -270%;
  left: -600%;
}

/*Province 23*/
.place23{
  top: 9%;
  left: 83.5%;
}
.place23 span{
  top: -270%;
  left: -352%;
}

/*Province 24*/
.place24{
  top: 48%;
  left: 81%;
}
.place24 span{
  top: -270%;
  left: -537%;
}

/*Province 25*/
.place25{
  top: 32%;
  left: 94%;
}
.place25 span{
  top: -270%;
  left: -600%;
}

/*Province 26*/
.place26{
  top: 54%;
  left: 92.5%;
}
.place26 span{
  top: -270%;
  left: -600%;
}

/*Province 27*/
.place27{
  top: 48%;
  left: 68.5%;
}
.place27 span{
  top: -270%;
  left: -600%;
}

/*Province 28*/
.place28{
  top: 65%;
  left: 67%;
}
.place28 span{
  top: -270%;
  left: -468%;
}

/*Province 29*/
.place29{
  top: 75%;
  left: 77.5%;
}
.place29 span{
  top: -270%;
  left: -600%;
}



/* ----------------------CSS for Spirits Section----------------------- */
.spirits {
  position: relative;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title {
  position: relative;
}

.spirit-content {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.air-s {
  background-image: url(../images/Spirits/0-Air/36f71846664181.585d7f4be8be8.jpg);
}

.earth-s {
  background-image: url(../images/Spirits/1-Earth/j-k-20190506-01.jpg);
}

.water-s {
  background-image: url(../images/Spirits/2-Water/water_city_by_xiaoxinart_d5jhnzj-fullview.jpg);
}

.fire-s {
  background-image: url(../images/Spirits/3-Fire/dragon_city_by_white70ws_d9ax9mr-pre.jpg);
}

.s {
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: cinzel;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 20px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.left-side {
 height: 80%;
 width: 100%;
 overflow: hidden;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-position: 0% 30%;
  object-fit: cover;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.wrapper .right-side .header p {
  padding-bottom: 10px;
  font-size: 25px;
  font-family: cinzel;
}

.wrapper p {
  font-family: poppins;
}










/* ------------------------------CSS for Story Arcs Section----------------------------- */
.story-arcs {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, var(--color3-clr) 0%, var(--color4-clr) 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.cover {
  position: relative;
  width: calc(var(--baseline) * 80);
  height: calc(var(--baseline) * 47.5);
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
  margin-top: 20px;
}
.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
}
.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page:nth-of-type(1) {
  background-image: linear-gradient(-90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page--1 {
  cursor: pointer;
  overflow: hidden;
}

.book__page--1 img {
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
.book__page--2 {
  position: absolute;
  right: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page--4 {
  cursor: pointer;
  padding: 0 calc(var(--baseline) * 3);
}
.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}
.book__page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--baseline) * 1.8);
  transform: rotateY(180deg) translateZ(1px);
}
.book__page .page__content {
  padding: var(--baseline);
  height: 100%;
  position: relative;
  text-align: center;
}
.book__page .page__content-book-title {
  font-family: var(--book-title);
  font-size: calc(var(--base-size) * 2.5);
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.book__page .page__content-author {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1.2);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 6);
}
.book__page .page__content-credits {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: calc(var(--base-size) * 0.8);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;
}
.book__page .page__content-credits span {
  display: block;
  font-size: calc(var(--base-size) * 1.2);
  letter-spacing: 0;
}
.book__page .page__content-copyright {
  position: absolute;
  width: calc(100% - (var(--baseline) * 2));
  bottom: calc(var(--baseline) * 2);
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-transform: uppercase;
}
.book__page .page__content-title {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 2);
}
.book__page .page__content-table {
  width: 100%;
  margin-top: calc(var(--baseline) * 2);
}
.book__page .page__content-table td {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  padding-bottom: calc(var(--baseline) * 1.5);
  text-transform: uppercase;
}
.book__page .page__content-blockquote {
  margin-bottom: calc(var(--baseline) * 2);
}
.book__page .page__content-blockquote-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  font-style: italic;
  text-align: justify;
}
.book__page .page__content-blockquote-reference {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.7);
  margin-top: calc(var(--baseline) * 0.3);
  float: right;
  text-transform: uppercase;
}
.book__page .page__content-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-align: justify;
  text-indent: var(--baseline);
}
.book__page .page__number {
  position: absolute;
  bottom: var(--baseline);
  width: calc(100% - (var(--baseline) * 2));
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: center;
}
.book input[type="radio"] {
  display: none;
}
.book input[type="radio"]:checked + .book__page {
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}




@keyframes hide {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  
  }
}

@keyframes show {
  0% {
    transform: scale(0);
    opacity: 0;
    
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes widthIn {
  from {
    width: 0%;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes pulsetest {
  100% {
    opacity: 0;
    r: 2.5;
  }
}

@keyframes pulses {
 from {
  filter: drop-shadow(3px 0px 10px #fff);
 }
  50% {
    filter: drop-shadow(5px 0px 20px #fff);
  }
  to {
    filter: drop-shadow(3px 0px 10px #fff);
  }

}

@keyframes transitionIn {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes picIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes backgroundIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1366px) {

  .alter, .base {
    padding: 100px 200px;
  }
  .character__background-strip {
    min-height: 73dvh;
  }
}

/* Laptop Width */
@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    display: none;
  }

  /* header .navigation {
    display: none;
  } */
  .home__background-strip::after, .home__background-strip::before {
    display: none;
  }
}



@media (max-width: 480px) {

  .home__content h1 {
    font-size: 1.1rem;
    line-height: 35px;
  }
  .home__content h2 {
    font-size: 1.2rem;
  }
  .home__content span {
    font-size: 3em;
  }
  .home__content a {
    padding: 7px 17px;
  }

  .story-quote {
    padding: 10px;
    padding-inline: 34px;
    font-size: 15px;
    height: fit-content;
    min-height: 32vh;
  }
  .story-quote::before {
    content: '“';
    top: -40px;
    left: 14px;
    opacity: .2;
  }
  .story-quote::after {
    content: '”';
    bottom: -131px;
    right: 14px;
    opacity: .2;
  }

  .section-navigation {
    padding-inline: 45px;
  }
  div.ball, div.ball1 {
    display: none;
  }
  
  .home__section .hold-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  .home__section .content {
    width: 377px;
    font-size: 15px;
    max-height: fit-content;
  }


  .hamburger {
    height: 45px;
    width: 45px;
    display: inline-block; 
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    transition: border 0.3s ease-in-out;
  }
  .hamburger.color {
    border-color: white;
  }
  .hamburger.active {
    border-color: white;
  }
  .bar {
    height: 2px;
    width: 22.5px;
    position: relative;
  }
  .bars, .bar::after, .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }
  .bar::after {
    top: 8px;
  }
  .bar::before {
    bottom: 8px;
  }
 
  
  /* When the menu opens the hamburger icons swaps color */
  div.hamburger.active > .bar:after, div.hamburger.active >.bar:before, div.hamburger.active > .bar .bars {
    background-color: white;
  }
  div.hamburger.active > .bar .bars {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  /* When the header scrolls down, the background changes. This adds contrast */
  div.hamburger.color > .bar:after, .hamburger.color .bar:before, div.hamburger.color > .bar .bars {
    background-color: white;
  }
  
  .hamburger.active .bar::before {
    bottom: 50%;
    transform-origin: center;
    transform: rotate(45deg)
  }
  .hamburger.active .bar::after {
    top: 0px;
    transform-origin: center;
    transform: rotate(-45deg)
  }

  .navigation-items {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s ease-in-out;
  }
  .navigation-items.active {
    left: 0;
  }
  .navigation-items a:before {
    background: var(--white-line);
  }

  .navigation-items a {
    margin: 10px;
    font-size: 2em;
    color: white;
  }

  .media-icons {
    display: none;
  }

  .character__background-strip {
    top:53%;
  }
  .home-character .line {
  width: 0;
  }

  .top .case img {
    width: 35px;
  }

  .gallery-tabs li{
    padding: 1px 7px;
    margin-bottom: 4px;
    margin-inline: 4px;
  }

  .gallery {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    height: 95%;
    gap: 35px;
  }

  .modal {
    width: 100%;
    max-height: 0;
  }
  .modal.active {
    height: 85%;
    max-height: 85%;
  }
  .modal-header .close-button {
    z-index: 500;
  }
  .modal-header .title {
    font-size: 2rem;
    line-height: 50px;
  }

  .carousel-button-left, .carousel-button-right {
    font-size: 3.5rem;
  }

  .carousel-button-left {
    top: 6rem;
    left: 0.2em;
    z-index: 4;
  }
  
  .carousel-button-right {
    top: 6rem;
    right: 0.2em;
    z-index: 4;
  }
  .modal .slide {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding: 10px;
  }
  .modal-left {
    justify-content: center;
    height: 30%;
    width: 100%;
    margin-bottom: 15px;
  }
  .modal-left img {
      width: 70%;
  }
  
  .modal-right {
    width: 100%;
  }

  .page3 img{
    width: 100%;
    transform: scale(1.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home-map {
    padding: 100px 20px;
  }

  .pin {
    height: 0.3em;
    width: 0.3em;
  }
  .map-pins span{
  display: none;
  }
}
