@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Poppins:wght@200&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
:root {
  --unmarked-clr: #e6e6e6;
  --nathair-clr: #5f8dd3;
  --azores-clr: #ff8080;
  --wind-color: #afdde9;
  --earth-clr: #8dd35f;
  --water-clr: #87aade;
  --bear-clr: #aaccff;
}


/*This sets up the heading for the website which contains the logo on the left and the navigation items on the right. The postion of the logo and the navigation bar is set in the header container through flex.*/

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 15px 200px;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to bottom, rgb(17, 17, 17) 0%, rgba(0,0,0,0) 100%)
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
/*CSS for the logo located on the left and the navigation menu on the right.*/
header .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .5rem;
}
.hamburger {
  display: none;
}

/*This sets the individual styles for the items in the navigation bar.*/
.navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  margin-left: 30px;
  font-family: cinzel;
}
/*This adds an underline to the items.*/
.navigation-items a:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: -7px;
  left: 0;
  transition: width 0.3s ease;
}
/*This animates the underline so that it grows from the left*/
.navigation-items a:hover:before {
  width: 100%;
}
/*This keeps the underline present for the current page*/
.navigation .navigation-items .active:before {
  width: 100%;
}
.navigation .navigation-items .active {
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
}

/*Defines what the sections will look like on the website.*/
section {
  padding: 100px 200px;
}








/*----------------------------------------------------CSS for Home.------------------------------------------*/
/*Defines what the center home element will look like on the webpage.*/
.home__section {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* CSS for the background strip on the home page */
.home__background-strip {
  position: absolute;
  background-image: url(../images/valley_monolith_by_tacticsogre_d8kisxo.jpg);
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.back-image0 {
  background-image: url(../images/winter_moutain___video_process_by_jordangrimmer_ddrq828-pre.jpg);
}
.back-image1 {
  background-image: url(../images/landscape_digital_painting_tutorial_by_jordangrimmer_de4y7cu-pre.jpg);
  
}
.home__background-strip::after, .home__background-strip::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 300px;
  border-style: solid;
  animation: widthIn 0.4s ease-in-out;
}
.home__background-strip::after {
  border-color: white;
  top: -20px;
  left: 0;
  border-width: 1px 0px 0px;
}
.home__background-strip::before{
  border-color: white;
  bottom: -20px;
  right: 0;
  border-width: 0px 0px 1px 0px;
}

/* Code for the accent marks on homepages without a background photo */
.black-accent::after, .black-accent::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 600px;
  border-style: solid;
  animation: widthIn 0.4s ease-in-out;
}
.black-accent::after {
  border-color: black;
  top: 80%;
  left: 0;
  border-width: 1px 0px 0px;
}
.black-accent::before {
  border-color: black;
  bottom: 80%;
  right: 0;
  border-width: 0px 0px 1px 0px;
}

.border-color::after, .border-color::before {
  border-color: black;
}


/* CSS for the stuff inside the content Div */
.home__content {
  z-index: 888;
  color: #fff;
  width: 70%;
  display: flex;
  font-family: cinzel;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Sets the text lettering for the word Leviathan */
.home__content h1 {
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 75px;
  margin-bottom: 20px;
  text-align: center;
}
.home__content h2 {
  font-size: 1.7em;
}
.home__content span {
  font-size: 2em;
  font-weight: 900;
}
/*Creates the button for READ MORE and allows the button to grow when hovering it.*/
.home__content a {
  background: #fff;
  padding: 10px 25px;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 600;
  font-family: poppins;
  letter-spacing: .4rem;
  text-decoration: none;
  border-radius: 2px;
  position: relative;
  margin-top: 60px;
  transition: transform 0.3s ease;
}
.home__content a:hover {
  transform: scale(1.1);
}


.alter {
  background: #ebebeb;
  padding: 150px 350px;
}
.alter h1 {
  font-family: cinzel;
  padding-bottom: 20px;
}
.alter p {
  padding: 10px 25px;
  font-family: poppins;
  font-size: 1.1rem;
  font-weight: 200;
  z-index: 300;
}

.base {
  padding: 150px 350px;
  background: #ebebeb;
}
.base h1 {
  font-family: cinzel;
  padding-bottom: 20px;
  color:#fff;
  z-index: 300;
}
/* .base p {
  padding: 10px 25px;
  font-family: poppins;
  font-size: 1.1rem;
  font-weight: 200;
  z-index: 300;
  color: #fff;
  background: rgba(21, 26, 31, 0.7);
  border-radius: 10px;
} */

.base .text {
  padding: 10px 25px;
  font-family: poppins;
  font-size: 1.1rem;
  font-weight: 200;
  z-index: 300;
  color: #fff;
  background: rgba(21, 26, 31, 0.7);
  border-radius: 10px;
}

#spirits .text p:first-of-type {
  margin-bottom: 25px;
}



/*-----------------------------------------------------CSS for media icons------------------------------------------------------*/
/*all of the stuff about media icons had .home before it but I decided to have a different background for each page and to make CSS easier lowered the specificity of the CSS*/
.media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: transform 0.3s ease;
}

/*This is so that the last item on the list does not have a margin of 20px.*/
.media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

/*Hovering over the items cause them to grow.*/
.media-icons a:hover {
  transform: scale(1.3);
}


/*-----------------------------------------------------------CSS for Gallery---------------------------------------------------------*/
/*the background container for the character page*/
.home-character {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*background-image: url(../_images/valley_monolith_by_tacticsogre_d8kisxo.jpg);*/ /*https://www.deviantart.com/tacticsogre/art/Valley-Monolith-518199036*/
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  /*background-image: linear-gradient(to bottom right, #2696e9 0%, #333 100%);*/
}

.character__background-strip {
  position: absolute;
  background-image: linear-gradient(60deg, #151a1f 0%, #30383d 100%);
  background-size: cover;
  background-position: center;
  min-height: 78dvh;
  width: 100vw;
  left: 50%;
  right: 0;
  top: 3rem;
  bottom: 0;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  z-index: -1;
  
}

.character__background-strip::after, .character__background-strip::before {
  content: '';
  position: absolute;
  height: 200px;
  width: 300px;
  border-style: solid;
  animation: widthIn 0.4s ease-in-out;
}
.character__background-strip::after {
  border-color: white;
  top: -20px;
  left: 0%;
  border-width: 1px 0px 0px;
}
.character__background-strip::before{
  border-color: white;
  bottom: -20px;
  right: 0%;
  border-width: 0px 0px 1px 0px;
}

.gallery-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  
}

.gallery-tabs li {
  list-style: none;
  padding: 5px 20px;
  font-family: cinzel;
  font-size: 1em;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  cursor: pointer;
  margin-inline: 10px;
  background-color: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.gallery-tabs .active {
  color: black;
  background-color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.gallery {
  width: 90%;
  height: 90%;
  z-index: 800;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  grid-auto-rows: 170px;
  gap: 45px;
  margin: 0 auto;
  overflow: auto;
}

.gallery__tile {
  cursor: pointer;
  background: none;
  border: none;
}
.gallery__tile div:first-child {
  overflow: hidden;
  border-radius: 5%;
}
.gallery__tile.show {
  animation: show .3s ease-in-out 0s 1 forwards;
  transform-origin: center;
  
}
.gallery__tile.hide {
  animation: hide .3s ease-in-out 0s 1 forwards;
  transform-origin: center;
  
}

.gallery__tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
  transition: transform 0.3s ease;
}

.gallery__tile img:hover {
  transform: scale(1.2);
}

.gallery__description {
  display: flex;
  position: relative;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-family: cinzel;
  font-size: 1.2em;
}


/*-------------------------------Modals for Characters-----------------------------------*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  z-index: 100;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 70%;
  max-width: 1050px;
  height: 70%;
  max-height: 600px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  color: rgb(240, 240, 240);
  transition: 200ms ease-in-out;
  font-family: poppins;
  z-index: 2050;
}

.modal::before, .modal::after{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border-style: solid;
  border-radius: 10px 0;
  z-index: -1;
  transition: 300ms ease-in-out;
}

.modal::before {
  border-width: 1px 0 0 1px;
  top:-40px;
  left:-40px;
}

.modal::after {
  border-width: 0 1px 1px 0;
  bottom:-40px;
  right:-40px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-family: Cinzel;
  font-size: 2.5rem;
  font-weight: bold;
  font-size: 4em;  
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: 200ms ease-in-out;
}

.modal-header .close-button:hover {
  transform: scale(1.5) rotate(90deg);
}

.modal-subheading {
  position: relative;
  font-family: cinzel;
  display: flex;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.modal span {
  font-weight: bold;
}

.modal-subheading:after {
  content: '';
  background: grey;
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* The start of the carousel buttons */
.carousel-button-left, .carousel-button-right {
  position: absolute;
  font-size: 5rem;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  border: none;
  color: white;

  transition: transform 0.1s ease-in-out;
}

.carousel-button-left:hover, .carousel-button-right:hover{
  transform: translateY(-50%) scale(1.3) ;
  cursor: pointer;
}

.carousel-button-left:active, .carousel-button-right:active{
  transform: translateY(-50%) scale(0.7) ;
}

.carousel-button-left {
  left: -1.5em;
}

.carousel-button-right {
  right: -1.5em;
}

.modal-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 79%;
}

.modal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal .slide {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  inset: 0;
  font-family: poppins;
  font-size: 1.1em;
  line-height: 1.2em;
  z-index: 1;
  opacity: 0;

  transition: opacity 0.25s ease-in-out
}

.modal .slide[data-active]{
  opacity: 1;
  z-index: 3;
  
}

.modal-left {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.modal-left img {
  border-radius: 10px;
  width: 100%;
}

.location-left {
  width: 60%;
}
.location-left img {
  width: 100%;
  height: 100%;
}

.modal-right {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 60%;
  overflow: auto;
}

.location-right {
  width: 40%;
}

.modal-right p {
  margin-bottom: 20px;
}

.page3 img {
  margin-inline: auto;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 48, 48, 0.8);
  pointer-events: none;
  transition: 250ms ease-in-out; 
  z-index: 2000;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(15px);
}

/* width */
::-webkit-scrollbar {
  padding-top: 60px;
  width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #797979; 
  border-radius: 16px;
}

.gallery::-webkit-scrollbar-track {
  margin-block: 25px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius:16px;
  border:4px solid #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-color: #fff; 
}


/*Content animation*/
.content, .media-icons, .gallery, svg, .char-name, .extra-info, .pin, .gallery-tabs, .spirits-container {
  animation: transitionIn 0.7s ease;
}

/*-------------------------------------------------------Beginning of CSS for the Locations Page--------------------------------------------------*/
/*the background container for the map page*/

.home-map {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*background-image: url(../images/valley_monolith_by_tacticsogre_d8kisxo.jpg);*/ /*https://www.deviantart.com/tacticsogre/art/Valley-Monolith-518199036*/
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom right, #2696e9 0%, #333 100%);*/
  padding-inline: 19%;
}

svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.nathair-map {
  fill: var(--nathair-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.bear-map {
  fill: var(--bear-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.water-map {
  fill: var(--water-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.earth-map {
  fill: var(--earth-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.wind-map {
  fill: var(--wind-color);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.azores-map {
  fill: var(--azores-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.other-map {
  fill: var(--unmarked-clr);
  cursor: pointer;
  transition: fill 0.5s ease;
}

.nathair-map:hover,.water-map:hover,.earth-map:hover,.wind-map:hover,.azores-map:hover,.other-map:hover,.bear-map:hover 
{
  fill: #ffd780;
}


.reference{
  position: relative;
}

.map-pins {
  z-index: 1;
  isolation: isolate;
}

.pin {
  background: #4362f8;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  pointer-events: none;
}

.pin::before {
  content: '';
  background: #4362f8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
  z-index: -3;
  pointer-events: none;
}

.pin::after {
  background: black;
  border: 1px solid white;
  position: absolute;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: 0 50%;
  width: 10px;
  height: 1px;
  top: 50%;
  left: 50%;
  border-radius: 1.2em;
  z-index: -1;
  pointer-events: none;
}

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  font-family: cinzel;
  background: #fff;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  font-weight: 700;
  color: #1680ac;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/*Miokosu*/
.place1 {
  top: 78%;
  left:8%;
}
.place1 span {
  top:-250%;
  left: -360%;
}

/*Anuzan*/
.place2 {
  top: 37%;
  left: 13%;
}
.place2 span {
  top: -250%;
  left: -300%;
}

/*Nagawa*/
.place3 {
  top:16%;
  left:32%;
}
.place3 span {
  top: -250%;
  left: -304%;
}

/*Naki*/
.place4 {
  top:34%;
  left: 23%;
}
.place4 span{
  top: -250%;
  left: -210%;
}

/*Kaida*/
.place5 {
  top:51%;
  left: 22%;
}
.place5 span{
  top: -250%;
  left: -259%;
}

/*Chibetsu*/
.place6 {
  top:57.9%;
  left: 19.5%;
}
.place6 span{
  top: 100%;
  left: -928%;
}

/*Uzuman*/
.place7 {
  top: 52.5%;
  left: 25.6%;
}

/*Name of Place*/
.place8{
  top:64%;
  left: 22%;
}
.place8 span{
  top: 350%;
  left: -1300%;
}

/*Halivarra*/
.place9 {
  top:62.9%;
  left: 25%;
}

/*Greenhollow*/
.place10 {
  top:75.5%;
  left:26.4%;
}
.place10 span{
  top: 200%;
  left: -1650%;
}
.place10::after {
  content: '';
  width: 30px;
  transform: translateY(-50%) rotate(154deg);
}

/*Westerdale*/
.place11 {
  top:72%;
  left: 29%;
}
.place11 span{
  top: -250%;
  left: 50%;
}

/*Mallowbeach*/
.place12{
  top:79%;
  left:29%;
}
.place12 span{
  top: 290%;
  left: -1600%;
}

/*Ballymena*/
.place13 {
  top: 75.4%;
  left: 32%;
}
.place13 span{
  top: -200%;
  left: -200%;
}

/*Name of Place*/
.place14{
  top:84%;
  left:31.4%;
}
.place14 span{
  top: 250%;
  left: -1600%;
}

/*Belltown*/
.place15 {
  top:78%;
  left:36%;
}

/*Rivershear*/
.place16 {
  top:87%;
  left:36%;
}
.place16 span {
  top: 350%;
  left: -270%;
}

/*Kushika*/
.place17{
  top: 30%;
  left: 35.5%;
}
.place17 span{
  top: -270%;
  left: -342%;
}

/*Plainsfield*/
.place18{
  top: 56%;
  left: 40%;
}
.place18 span{
  top: -272%;
  left: -469%;
}

/*Redwallow*/
.place19{
  top:82%;
  left:43%;
}
.place19 span{
  top: 350%;
  left: -700%;
}

/*Capitol City*/
.place21 {
  top: 37%;
  left: 53%;
}
.place21 span{
  top: -270%;
  left: -500%;
}

/*Newwind*/
.place22{
  top: 56%;
  left: 56%;
}
.place22 span{
  top: -270%;
  left: -600%;
}

/*Chemsisi*/
.place23{
  top: 77%;
  left: 55%;
}
.place23 span{
  top: -270%;
  left: -352%;
}

/*Makoso*/
.place24{
  top: 92%;
  left: 60%;
}
.place24 span{
  top: -270%;
  left: -348%;
}

/*Name of Place*/
.place25{
  top: 25%;
  left: 75%;
}
.place25 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place26{
  top: 47%;
  left: 67.5%;
}
.place26 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place27{
  top: 65%;
  left: 67.5%;
}
.place27 span{
  top: -270%;
  left: -600%;
}

/*Mangi*/
.place28{
  top: 80%;
  left: 65%;
}
.place28 span{
  top: -270%;
  left: -268%;
}

/*Name of Place*/
.place29{
  top: 9%;
  left: 83.5%;
}
.place29 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place30{
  top: 50%;
  left: 81.7%;
}
.place30 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place31{
  top: 73.5%;
  left: 78%;
}
.place31 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place32{
  top: 34%;
  left: 94.5%;
}
.place32 span{
  top: -270%;
  left: -600%;
}

/*Name of Place*/
.place33{
  top: 60%;
  left: 90%;
}
.place33 span{
  top: -270%;
  left: -600%;
}

/* ----------------------CSS for Spirits Section----------------------- */
.spirits {
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*background-image: url(../_images/valley_monolith_by_tacticsogre_d8kisxo.jpg);*/ /*https://www.deviantart.com/tacticsogre/art/Valley-Monolith-518199036*/
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom right, #2696e9 0%, #333 100%);*/
}

.title {
  position: relative;
}

.spirit-content {
  display: flex;
  justify-content: center;
}

.spirits-container {
  display: flex;
  flex-direction: column;
  inset: 0;
  width: 100%;
  height: 100%;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: cinzel;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 20px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.left-side {
 height: 80%;
 width: 100%;
 overflow: hidden;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-position: 0% 30%;
  object-fit: cover;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.wrapper .right-side .header p {
  padding-bottom: 10px;
  font-size: 25px;
  font-family: cinzel;
}

.wrapper p {
  font-family: poppins;
}










/* ------------------------------CSS for Story Arcs Section----------------------------- */
.story-arcs {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*background-image: url(../_images/valley_monolith_by_tacticsogre_d8kisxo.jpg);*/ /*https://www.deviantart.com/tacticsogre/art/Valley-Monolith-518199036*/
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom right, #2696e9 0%, #333 100%);*/
}

@keyframes hide {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  
  }
}

@keyframes show {
  0% {
    transform: scale(0);
    opacity: 0;
    
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes widthIn {
  from {
    width: 0%;
  }
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes transitionIn {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes picIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes backgroundIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1366px) {

  .alter, .base {
    padding: 100px 200px;
  }
  .character__background-strip {
    min-height: 73dvh;
  }
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    display: none;
  }

  /* header .navigation {
    display: none;
  } */
  .home__background-strip::after, .home__background-strip::before {
    display: none;
  }
}

@media (max-width: 480px) {
  .alter {
    padding: 100px 20px;
  }
  .base {
    padding: 100px 20px;
  }
  .black-accent {
    display: none;
  }
  .home__content h1 {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .home__emphasis {
    font-size: 3rem;
  }

  .home__content h2 {
    font-size: 1.2rem;
  }

  .hamburger {
    height: 45px;
    width: 45px;
    display: inline-block; 
    border: 1px solid #fff;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
  }

  .bar {
    height: 1px;
    width: 22.5px;
    position: relative;
    background-color: #fff;
  }

  .bar::after, .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    transition-property: top, bottom, transform;
  }

  .bar::after {
    top: 8px;
  }

  .bar::before {
    bottom: 8px;
  }

  

  .hamburger.active .bar::before {
    bottom: 50%;
    transform-origin: center;
    transform: rotate(45deg)
  }

  .hamburger.active .bar::after {
    top: 0px;
    transform-origin: center;
    transform: rotate(-45deg)
  }

  .navigation-items {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s ease-in-out;
  }

  .navigation-items.active {
    left: 0;
  }

  .navigation-items a {
    margin: 10px;
    font-size: 2em;
  }

  .media-icons {
    display: none;
  }

  .home-character {
    padding-right: 5px; 
  }

  .gallery-tabs {
    margin-bottom: 10px;
  }

  .gallery-tabs li{
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, 120px);
    grid-auto-rows: 120px;
    margin-right: 7px; 
    height: 95%; 
  }

  .modal {
    width: 100%;
    height: 100%;
  }
  .modal-header .close-button {
    z-index: 500;
  }
  .modal-header .title {
    font-size: 2rem;
    line-height: 50px;
  }

  .carousel-button-left, .carousel-button-right {
    font-size: 3.5rem;
  }

  .carousel-button-left {
    top: 6rem;
    left: 0.2em;
    z-index: 4;
  }
  
  .carousel-button-right {
    top: 6rem;
    right: 0.2em;
    z-index: 4;
  }
  .modal .slide {
    flex-direction: column;
    justify-content: center;
    
  }
  .modal-left {
    justify-content: center;
    height: 30%;
    margin-bottom: 15px;
  }
  .modal-right {
    width: 100%;
  }

  .page3 img{
    width: 100%;
    transform: scale(1.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .home-map {
    padding: 100px 20px;
  }

  .pin {
    height: 0.3em;
    width: 0.3em;
  }
  .map-pins span{
  display: none;
  }
}
